.order{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.order img{
    width: 100%;
}
.od{
    width: 100%;
}



@media only screen and (max-width:668px) {
    .order{
       
        grid-template-columns: repeat(1,1fr);
    }
}